@charset "utf-8";
/* CSS Document */
/*on affiche les sous menu quand on passe la souri devant*/
#Menu .menu:hover > ul
{
  display:block
}
/*on cache les sous menu quand la souries n'est pas devant*/
#Menu ul .sousMenu
{
	display:none;
	margin:0;
	padding:0;
	list-style-type:none;
	text-align:center;
}
#menu li {
 float:left;
 margin:auto;
 padding:0;
 background-color:black;
 }
#menu li a {
 display:block;
 width:100px;
 color:white;
 text-decoration:none;
 padding:5px;
 }
#menu li a:hover {
 color:#FFD700;
 }