/*CREDITS TO UNSPLASH*/

@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700);

* {
  margin:0;
  padding:0;
  list-style:none;
  text-decoration:none;
  box-sizing:border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #eaeaea;
  font-family:'Verdana', sans-sherif;
}

.perspective {
  width: 100%;
  height: 100%;
  perspective:1000px;
  transform-style: preserve-3d;
}

.wrapper {
  transform-style: preserve-3d;
  margin: 0 auto;
  width:100%;
  height:100%;
  transition: 1s all ease-in-out;
  -webkit-transition: 1s all ease-in-out;
  display:flex;
}

.wrapper li {
  flex-grow: 1;
  opacity:1;
  width: 20%;
  font-size:1.3em;
  transition: 1s all ease-in-out;
  -webkit-transition: 1s all ease-in-out;
  text-align:center;
  padding-top: 25%;
  color:#5175C0;
  cursor:pointer;
  background-size:cover !important;
}

.produit {
  border-radius: 5px;
  width: 80%;
  margin-left:10%;
  margin-right: 10%;
  background-color: white;
  transition: 0.2s;
}

.acheter {
  height: 40px;
  border-radius: 5px;
  width: 80%;
  margin-left:10%;
  margin-right: 10%;
  margin-top: 80%;
  background-color: #336699;
  color: white;
  font-family: verdana;
  font-size:1.3em;
  transition: 0.2s;
}

.acheter:hover {
  box-shadow: 6px 0px 8px 0px rgba(0, 0, 0, 0.7);
  transition: 0.2s;
}

.produit:hover {
  box-shadow: 6px 0px 8px 0px rgba(0, 0, 0, 0.7);
  transition: 0.2s;
}

.wrapper li:nth-of-type(1) {
  background: url(../images/thermostat_vitrine.jpg) no-repeat center center;
}
.wrapper li:nth-of-type(2) {
  background: url(../images/anemometre2.jpg) no-repeat center center;
}
.wrapper li:nth-of-type(3) {
  background: url(../images/camera_vitrine.jpg) no-repeat center center;
}
.wrapper li:nth-of-type(4) {
  background: url(../images/pluviometre2.jpg) no-repeat center center;
}
.wrapper li:nth-of-type(5) {
  background: url(../images/station_meteo_vitrine.jpg) no-repeat center center;
}

.plier {
  transform: rotateX(20deg);
  transform-origin:bottom;
}
.wrapper li.active {
  transition-delay:1s;
}

.active{
  transform: rotateX(0deg);
  transform-origin:bottom;
  flex-grow: 30 !important;
  cursor:default;
  opacity:1 !important;
}
