/*CREDITS TO UNSPLASH*/

@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700);

* {
  margin:0;
  padding:0;
  list-style:none;
  text-decoration:none;
  box-sizing:border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #eaeaea;
  font-family:'Verdana', sans-sherif;
}

.perspective {
  width: 100%;
  height: 100%;
  perspective:1000px;
  transform-style: preserve-3d;
}

.wrapper {
  transform-style: preserve-3d;
  margin: 0 auto;
  width:100%;
  height:100%;
  transition: 1s all ease-in-out;
  -webkit-transition: 1s all ease-in-out;
  display:flex;
}

.wrapper li {
  flex-grow: 1;
  opacity:0.8;
  padding:200px 0;
  font-size:56px;
  transition: 1s all ease-in-out;
  -webkit-transition: 1s all ease-in-out;
  text-align:center;
  color:#5175C0;
  cursor:pointer;
  background-size:cover !important;
}

.wrapper li:nth-of-type(1) {
  background: url(../images/thermostat_vitrine.jpg) no-repeat center center;
}
.wrapper li:nth-of-type(2) {
  background: url(../images/anemometre_vitrine.jpg) no-repeat center center;
}
.wrapper li:nth-of-type(3) {
  background: url(../images/camera_vitrine.jpg) no-repeat center center;
}
.wrapper li:nth-of-type(4) {
  background: url(../images/pluvio_vitrine.jpg) no-repeat center center;
}

.plier {
  transform: rotateX(20deg);
  transform-origin:bottom;
}

.wrapper li.active {
  transition-delay:1s;
}

.active{
  transform: rotateX(0deg);
  transform-origin:bottom;
  flex-grow: 30 !important;
  cursor:default;
  opacity:1 !important;
}
