body {
  background-color : #336699;
}

.container {
  width: 400px;
  padding: 50px;
  margin-top: 1px;
  box-sizing: border-box;
  background-color: white;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.7);
}

p {
  font-family: verdana;
  color: #5175C0;
  text-align: center;
}

.logo {
   margin-left:0%;
}


form {
  border-radius: 5px;
}

#contact-form{
  display: block;
}
#message{
	border: 2px solid black;	
	border-radius: 2px;
	width:300px;
}

input[type="text"],
input[type="email"]{
  width: calc(100% - 40px - 20px);
  margin-left: 10%;
  margin-bottom: 5%;
  line-height: 30px;
  padding-left: 20px;
  outline: none;
  transition: all 0.30s ease-in-out;
  border: 1px solid black;
  border-radius: 2px;
}
/* Effet de brillance au clique des champs du formulaire */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="text"]:hover,
input[type="email"]:hover{
  box-shadow: 0 0 5px #99CDFF;
  border: 1px solid #99CDFF;
}
textarea:focus,
textarea:hover{
  box-shadow: 0 0 15px #99CDFF;
  border: 15px solid #99CDFF;
}

.send_button {
  width: 120px;
  height: 40px;
  margin-left: 30%;
  margin-top: 40px;
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  font-size: 1.3em;
  outline: none;
  transition: 0.2s;
}

button:hover {
  color: rgba(138, 123, 179, 0.8);
  border: 1px solid rgba(138, 123, 179, 0.8);
  transition: 0.2s;
}