
body {
  background-image :url("../images/background.png");
  background-attachment: fixed;
}

nav {
  margin-top: 10px;
  padding: 20px 20px 20px 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background: #5175C0;
  /*position:fixed;*/
}

#nav-2 {
  margin-top: 10px;
  padding: 20px 20px 20px 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background: #5175C0;
  text-align: center;
  line-height: 500%;
  /*position:fixed;*/
}
#nav-3 {
  text-align: center;
  line-height: 500%;
  margin-top: 100px;
}

#logoPARAM {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}


.footerlist_link{
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Verdana', sans-sherif;
  text-decoration: none;
  margin-bottom: 10px;
  padding: 0px 8px 0px 8px;
}

.link-2:hover {
}


