
body {
  background-image :url("../images/background.png");
  background-attachment: fixed;
}

nav {
  margin-top: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background: #5175C0;
  /*position:fixed;*/
}
#div-1 {
	position: relative;
    border: 3px solid #73AD21;
    margin-right:80%;
    line-height :100%; 
}

#nav-3 {
  text-align: center;
  margin-top: 100px;
}


#logoPARAM {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}


.link-3 {
  transition: 0.4s;
  color: #ffffff;
  font-size: 13px;
  font-family: 'Verdana', sans-sherif;
  text-decoration: none;
}

.link-2:hover {
}


