
	
}
#Menu ul
{
  list-style:none;
  position:relative;
  float:left;
 
  padding:0;
}

#Menu ul a
{
  display:block;
  color:#333;
  text-decoration:none;
  font-weight:700;
  font-size:12px;
  line-height:32px;
  padding:0 15px;
  font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#Menu .menu
{
  background:#336699;
	text-decoration-color: white; 
	
}

#Menu .menu:hover
{
  background:#99ccff;
}

#Menu ul ul
{
  display:none;
  position:absolute;
  left:0;
  background:#99ccff;
}

#Menu ul ul li
{
  float:none;
  width:200px
}


#Menu ul ul ul
{
  top:0;
  left:100%
}

#Menu ul li:hover > ul
{
  display:block
}