input[type="text"],
input[type="email"],
input[type="password"] {
  width: calc(100% - 40px - 20px);
  margin: 20px;
  line-height: 30px;
  padding-left: 20px;
  outline: none;
  transition: 0.2s;
  border: 1px solid black;
  border-radius: 2px;
}
/* Effet de brillance au clique des champs du formulaire */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
  box-shadow: 0 0 5px #99CDFF;
  border: 1px solid #99CDFF;
  transition: 0.2s;
}
.erreur{
	text-align: center; 
	color: red; 
	font-size: 15px;
	font-family: 'verdana', sans-sherif;
}
#retourprofil{
  margin-left:2%;
  margin-right: 2%;
  margin-bottom: 10px;
  width: 96%;
  height: 40px;
  border: none;
  box-sizing: border-box;
  background-color: #5175C0;
  border-radius: 5px;
  font-size: 1.3em;
  color: white;
  transition: 0.2s;
}
button:hover {
  transition: 0.2s;
  box-shadow: 6px 0px 8px 0px rgba(0, 0, 0, 0.7);
}

.container {
  width: 620px;
  padding: 50px;
  margin-top: 1px;
  box-sizing: border-box;
  background-color: white;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.7);
}
h3{
	color: #5175C0;
}
.profil_list{
	color: #5175C0;
	font-size: 20px;
	font-family: 'Verdana', sans-sherif;
	text-decoration: none;
}
.modif_button {
  width: 500px;
  height: 40px;
  margin-left: 0%;
  margin-top: 20px;
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  font-size: 1.3em;
  outline: none;
  transition: 0.2s;
}
button:hover {
  color: rgba(138, 123, 179, 0.8);
  border: 1px solid rgba(138, 123, 179, 0.8);
  transiton: 0.2s;
}
p,
select {
	margin-left: 20px;
	font-family: verdana;
}
.titre{
	font-family: verdana;
  	color: #5175C0;
  	text-align: center;
}
