body{
	  background-color : #336699;
	
}

.container_global {
  width: 600px;
  padding: 50px;
  margin-top: 110px;
  box-sizing: border-box;
  background-color: white;
  margin: auto;
  border-radius: 5px;
  box-shadow: 10px 0px 17px 0px rgba(0, 0, 0, 0.7);
}

#container{
	position : relative;
	
}

#container .innercontainer{
  position: relative;
  margin: center;
  width: 400px;
  height: 200px;
  border: none;
  box-sizing: border-box;
  background-color: #5175C0;
  border-radius: 5px;
  font-size: 1.3em;
  color: white;
  margin-bottom: 10px;
}

#content{  
  display: inline-block;
  margin: auto;
  width: 400px;
  border: none;
  box-sizing: border-box;
  background-color: #5175C0;
  border-radius: 5px;
  font-size: 0.8em;
  font-family: verdana;
  color: white;
  margin-bottom: 10px;
}

#image{
  width: 100px;
  margin-top: 40px;
  width: 25%;
  position: relative;
  margin-left: 18%;
  border-radius: 5px;
}

#infos{
  display: inline-block;
  width: 45%;
  border: none;
  box-sizing: border-box;
  background-color: #5175C0;
  border-radius: 5px;
  font-size: 0.8em;
  font-family: verdana;
  color: white;
}

.arrondi {
	border-radius: 5px;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.7);
}

input[type=submit] {
  transition: 0.2s;
  margin: auto;
  width: 300px;
  height: 40px;
  border: none;
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  font-size: 1.3em;
  color: #5175C0;
  margin-bottom: 10px;
}

section {
  display: inline-block;
  width: 25%;
}

input[type=submit]:hover {
  transition: 0.2s;
  box-shadow: 6px 0px 8px 0px rgba(0, 0, 0, 0.7);
}

#container ul { 
	list-style: none;
	
}

#container .buttons {
	position: relative;
	margin-left: 50px;
	margin-top: 0.0003px;
}

#container .list li { 
	width: 100%;
	border-bottom: 1px dotted #CCC; 
	margin-bottom: 10px; 
	padding-bottom: 10px;
}

#container .grid li { 
	float: left; 
	width: 20%; 
	height: 50px; 
	border-right: 1px dotted #CCC; 
	border-bottom: 1px dotted #CCC; 
	padding: 10px;
}

.list{
	margin: center;
}

	