body{
	  background-color : #336699;
	
}
#container{
	position : relative;
}
#container ul { 
	list-style: none;
	
}
#container .buttons {
	position: relative;
	float: right;
	margin-right: 60px;
	margin-top: 0.0003px;
}

#container .list li { 
	width: 100%;
	border-bottom: 1px dotted #CCC; 
	margin-bottom: 10px; 
	padding-bottom: 10px;
}

#container .grid li { 
	float: left; 
	width: 20%; 
	height: 50px; 
	border-right: 1px dotted #CCC; 
	border-bottom: 1px dotted #CCC; 
	padding: 10px;
}
.list{
	margin: center;
}

	