body {
  background-color : #336699;
}

p {
  background: #5175C0;
  border-radius: 6px;
  color: #fff;
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 15px;
  font-family: verdana;
  text-align: center;
}
canvas {
    display: block;
    margin: 0 Auto;
}

table {
    width: 100%;
    margin: 0%;
    border: thin solid black;
    margin-bottom: 20px;
}

th, td {
    text-align: center;
}
tr:nth-child(even) {
    background-color: #ddd;
}
caption {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    background-color: #B0B0B0;
}
thead {
    text-align: center;
    font-size: 1.5em;
    background-color: #ddd;
}
tfoot {
    text-align: center;
    font-style: italic;
    font-size: .75em;
}
.container {
  width: 60%;
  padding: 40px;
  box-sizing: border-box;
  background-color: white;
  margin: auto;
  border-radius: 5px;
  box-shadow: 10px 0px 17px 0px rgba(0, 0, 0, 0.7);
}

.command_buttons{
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 50px;
}

.room_buttons{
	margin-left: 2%;
	margin-right: 2%;
}

.buttons {
  transition: 0.2s;
  margin-left:2%;
  margin-right:2%;
  width: 45.5%;
  height: 60px;
  border: none;
  box-sizing: border-box;
  background-color: #5175C0;
  border-radius: 5px;
  font-size: 1.3em;
  color: black;
}

button {
  transition: 0.2s;
  margin-left:2%;
  margin-right:2%;
  width: 45.5%;
  height: 60px;
  border: none;
  box-sizing: border-box;
  background-color: #5175C0;
  border-radius: 5px;
  font-size: 1.3em;
  color: white;
}

#retour {
  transition: 0.2s;
  margin-left:2%;
  margin-right:2%;
  width: 45.5%;
  height: 60px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 1.3em;
  outline: none;
}

input[type=submit] {
  transition: 0.2s;
  margin-left: 2%;
  margin-roght: 2%;
  width: 96%;
  height: 40px;
  border: none;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  font-size: 1.3em;
  outline: none;
}

input[type=submit]:hover {
  transition: 0.2s;
  box-shadow: 6px 0px 8px 0px rgba(0, 0, 0, 0.7);
}

#salle{
  margin-left:2%;
  margin-right: 2%;
  margin-bottom: 10px;
  width: 96%;
  height: 40px;
  border: none;
  box-sizing: border-box;
  background-color: #5175C0;
  border-radius: 5px;
  font-size: 1.3em;
  color: white;
}

th {
  border-bottom: 1px solid #5175C0;	
}

td {
  border-bottom: 1px solid #5175C0;
}

button:hover {
  transition: 0.2s;
  box-shadow: 6px 0px 8px 0px rgba(0, 0, 0, 0.7);
}

header{
  position: relative;
  margin-left: 14%;
}

section {
  display: block;
  width: 45.5%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tab {
  width: 100%;
  border: none;
  box-sizing: border-box;
  background-color: white;
  border: 2px solid #5175C0;
  border-radius: 5px;
  margin-left: 0%;
  margin-right: 0%;
  font-size: 0.8em;
  font-family: verdana;
  color: #336699;
}

.ajout-suppression {
	margin-left: 2%;
	margin-right: 2%;
	width: 96%;
}

form {
  margin-bottom: 10px;
  text-align: center;
}

select {
  width: 40%;
  margin: 20px;
  line-height: 30px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: none;
  transition: 0.2s;
  border: 1px solid black;
  border-radius: 3px;
}

input[type="text"] {
  width: 40%;
  margin: 20px;
  line-height: 30px;
  padding-left: 20px;
  outline: none;
  transition: 0.2s;
  border: 1px solid black;
  border-radius: 3px;
}

input[type="text"]:focus,input[type="text"]:hover,
select:hover {
  box-shadow: 0 0 5px #99CDFF;
  border: 1px solid #99CDFF;
}
