p {
  background: #336699;
  border-radius: 6px;
  color: #fff;
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 15px;
  text-align: center;
}
header,
section,
aside,
footer {
  margin: 1.5% 1.5% 24px 1.5%;
  
}
section {
  display: inline-block;
  width: 30%;
}

a.href='maMaison.php':hover{
	box-shadow: 6px 0px 8px 0px rgba(0, 0, 0, 0.7);
}

